# Web app framework
streamlit==1.38.0

# PDF processing
PyMuPDF==1.24.10

# OCR and Google Vision API
google-cloud-vision==3.7.1
google-auth==2.32.0
requests==2.32.3
python-dotenv==1.0.1

# Image processing
Pillow==10.4.0

# Text utilities
wordfreq==3.1.1

# Data handling
pandas==2.2.2

# API framework
ExtractTable>=2.4.0